

<pre *ngIf="false">
  {{(performers$ | async) | json}}
</pre>

<div style="display: flex;">
  <table class="table">
    <tbody>
    <tr *ngFor="let performer of (performers$ | async); let i = index">
      <div [draggable]
           [dragClass]="'active'"
           [dragData]="performer"
           [dragEnabled]="true"
           style="border: 1px solid #a5a5a5; border-radius: 4px;">{{performer.name}}</div>
    </tr>
    </tbody>
  </table>
<table class="table">
  <thead>
    <tr>
      <th>Time Slots</th>
      <th>Performer</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let timeslot of timeList; let i = index">
      <td>{{timeslot.time}}</td>
      <td droppable (onDrop)="onDrop($event, i)">
        <div [draggable]
        [dragClass]="'active'"
        [dragData]="timeslot?.performer"
        [dragEnabled]="true">{{timeslot?.performer?.name}}</div>
      </td>
    </tr>
  </tbody>
</table>
</div>
